.site-titulo {
	font-size: 26px;
	margin-left: 50px;
}

@media (min-width: 480px) {
	.site-titulo {
		font-size: 30px;
	}
}

.menu {
	position: absolute;
	left: 15px;
	top: 18px;
}

.menu .dropdown-menu {
	min-width: 246px;
	padding: 10px;
}

#frmGetJogadores .posicao,
#frmGetJogadores .status,
#frmEsquema .esquema {
	display: inline-block;
}

.list-group-jogadores {
	margin-bottom: 100px;
}

.list-group-jogadores .list-group-item .thumbnail {
	float: left;
	height: 60px;
	margin-bottom: 0px;
	margin-right: 10px;
	position: relative;
	width: 60px;
}

.list-group-jogadores .list-group-item .thumbnail .escudo {
	height: 30px;
	left: -15px;
	position: absolute;
	top: -7px;
	width: 30px;
}

.list-group-jogadores .list-group-item .dados {
	float: left;
	width: calc(100% - 70px);
}

.list-group-jogadores .list-group-item .dados .indice {
	display: block;
	font-size: 26px;
	padding: 4px;
	position: absolute;
	right: 15px;
	top: 32px;
}

@media(min-width: 480px) {
	.list-group-jogadores .list-group-item .dados .indice {
		font-size: 36px;
		top: 20px;
	}
}

.list-group-jogadores .list-group-item .dados .preco {
	font-size: 18px;
	display: inline-block;
	left: 85px; 
	margin-right: 10px;
	position: absolute;
	top: 40px;
	width: 52px;
}

.list-group-jogadores .list-group-item .dados .info {
	margin: 4px 0px 0px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.8s ease-in-out, visibility 0.8s ease-in-out;
	visibility: hidden;
}

.list-group-jogadores .list-group-item .dados .info.open {
	max-height: 100px;
	visibility: visible;
}

.list-group-jogadores .list-group-item .dados .partida {
	display: block;
	text-align: center;
	width: 100%;
}

.list-group-jogadores .list-group-item .dados .partida .vs {
	color: #888;
}

.list-group-jogadores .list-group-item .dados .partida img {
	display: inline-block;
	height: 30px;
	width: 30px;
}

.back-top {
	background-color: #fff;
	border-radius: 50%;
	bottom: 25px;
	color: #82d1f8;
	cursor: pointer;
	position: fixed;
	right: 25px;
}

.back-top span {
	font-size: 40px;
}